<!-- <!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
<body>
    <h1>Video Recognition</h1>
    {% for class_ in classes %}
    <img src = "{{ url_for('views.video_feed' class_id=class_.id) }}" width = "600" height= "600" id="video_feed_{{ class_.id}}">  
    {% endfor %}
    <script>
        const videoFeed = document.getElementById('video_feed');

      
            videoFeed.onerror = function() {
                console.log("Error loading video feed");
      

        };
    </script>
</body>
</html>


 -->
<!-- 
 <!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
        <img src="{{ url_for('views.video_feed', class_id=class_.id) }}" width="600" height="600" id="video_feed_{{ class_.id }}">
 
    <script>
        document.querySelectorAll('img[id^="video_feed_"]').forEach(videoFeed => {
            videoFeed.onerror = function() {
                console.log("Error loading video feed for class ID: " + videoFeed.id.split('_')[2]);
            };
        });
    </script>
</body>
</html>
 -->
<!-- 
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Video Feed</title>
     <style>
         body {
             display: flex;
             justify-content: center;
             align-items: center;
             height: 100vh;
             margin: 0;
             background-color: #f0f0f0;
         }
         img {
             width: 600px;
             height: 400px;
             border: 1px solid #ddd;
             border-radius: 4px;
         }
     </style>
 </head>
 <body>
     <h1>Video Feed</h1>
     {% for class_ in classes %}
     <img id="video" src="{{ url_for('views.video_feed', class_id=class_id) }}" alt="Video Feed">
     {% endfor %}
 </body>
 </html>
  -->

  <!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
<body>
    <h1>Video Recognition</h1>
    <img src = "{{url_for('views.video_feed')}}" width = "600" height= "600" id="video_feed">  
    <script>
        const videoFeed = document.getElementById('video_feed');
      
            videoFeed.onerror = function() {
                console.log("Error loading video feed");
      

        };
    </script>
</body>
</html>