

{% extends 'admin/master.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center mb-4">Welcome to the Admin Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-users"></i> Users</h3>
            </div>
            <div class="panel-body">
                <h3>{{ user_count }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-chalkboard"></i> Classes</h3>
            </div>
            <div class="panel-body">
                <h3>{{ class_count }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-user-graduate"></i> Students</h3>
            </div>
            <div class="panel-body">
                <h3>{{ student_count }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fas fa-clipboard-check"></i> Attendance Records</h3>
            </div>
            <div class="panel-body">
                <h3>{{ attendance_count }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <a href="{{ url_for('views.index')}}" class="btn btn-primary btn-lg btn-block">
            <i class="fas fa-home"></i> Back to Home
        </a>
    </div>
</div>
{% endblock %}