<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Face Recognition</h1>
    <video id="video" autoplay></video>
    <script>
        const video = document.getElementById('video');
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing camera:', error);
            });
    </script>
</body>
</html>
