<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
<body>
    <h1>Video Recognition</h1>
    <img src = "{{url_for('views.video_feed')}}" width = "600" height= "600" id="video_feed">  
    <script>
        const videoFeed = document.getElementById('video_feed');
      
            videoFeed.onerror = function() {
                console.log("Error loading video feed");
      

        };
    </script>
</body>
</html>



